-e git+ssh://git@github.com/beekpr/beekeeper-sdk-python.git#egg=beekeeper_chatbot_sdk&subdirectory=chatbot-sdk 
-e git+ssh://git@github.com/beekpr/beekeeper-sdk-python.git#egg=beekeeper_sdk&subdirectory=beekeeper-sdk
pyyaml
